<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LiteDB" connectionString="Filename=D:\Repository\Vending Machine\VendingMachine\database.db Connection=shared"/>
	</connectionStrings>
<appSettings>
  <add key ="RaportsType" value =".json"/>
  <add key="PathForZip" value=".\Vending machine\VendingMachine\Reports"/>
  <add key="PathForReport" value="Reports"/>
</appSettings>
</configuration>